.clock {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px 10px 10px 10px;
}

.timer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    padding: 30px;

    h1 {
        font-size: 3rem;
    }
}